@import url("../css/reset.css");
@import url("../css/header.css");
@import url("../css/footer.css");

body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
/* best sale */

/* feedback */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 70px;
  height: 20px;
  position: absolute;
  bottom: 10;
}

/* origin  */
.card {
  border-radius: 0;
  border: none;
}
.card img {
  border-radius: 0;
  border: none;
}
.part .title {
  margin-top: 50px;
}
.part .slogan {
  margin: 20px auto;
}
.part .container .row .item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.part .container .row a {
  text-decoration: none;
}
.view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.view-more a,
button {
  width: 165px;
  height: 46px;
  border-radius: 0px;
}
.view-more-text {
  color: #1d4116;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.view-more-img {
  margin-left: 10px;
  width: 20px;
}
.feedback-view-more {
  margin-top: 20px;
  margin-bottom: 40px;
}
.bold {
  font-weight: bold;
}


/* feedback */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 70px;
  height: 20px;
  position: absolute;
  bottom: 10;
}
/* feedback */

.header {
  background: #C9D0E2;
  padding-bottom: 20;
}
.header .header-nav .header-left {
  padding-bottom: 20px;
}
/* carousel indicators */
.carousel-indicators li {
  border: 1.5px solid #c4c4c4;
  background-color: #c4c4c4;
  background-clip: unset;
  height: 0;
  width: 30px;
}
.carousel-indicators .active {
  border: 1.5px solid #484848;
  height: 0;
  background-color: #484848;
  width: 30px;
}
.carousel-control-prev {
  left: unset;
  right: 100px;
}
.carousel-control-next {
  left: unset;
  right: -100px;
}
.carousel-bottom {
  display: flex;
  height: 50px;
  position: relative;
  width: 100%;
}
.carousel-indicators {
  bottom: 50;
}
.feedback .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 45;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: left;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 50%;
  list-style: none;
}
.btn-light{
  width: 164px;
  height: 44px;
  background: #F3F3F3;
}
.container-btn-next-prev {
  position: absolute;
  right: 10;
  bottom: 60;
}
.feedback .container-btn-next-prev {
  right: 100;
}

/* partner */
.partner {
  background-image: url("../images/bg/ss_1069168523_1545\ 1.png");
  background-size: cover;
}

.partner .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.partner .container .row .col {
  background-color: white;
  height: 160px;
  width: 94%;
  margin: 3%;
}
/* news */
.news {
  margin-bottom: 0;
}
.news .card-img-top {
  height: 225;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news .card h5 {
  font-size: 18;
}
.news .card p {
  font-size: 14;
  color: #535353;
  font-family: 'Open Sans', sans-serif;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .container-btn-next-prev {
  position: absolute;
  right: 50px;
  bottom: 60px;
}

.feedback {
  background: #f3f3f3;
}

.bg-black {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-orange-light {
  background-color: #f2eadf;
}
.trademark-image-group-item {
  width: 50% !important;
  margin: 10px auto;
}
.category {
  margin-bottom: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-group-item img {
  width: 100%;
}
.product-header {
  height: 60px;
  background: #EEF2EF;
  display: flex;
  align-items: center;
  margin-bottom: 50;
}
.related-product-header {
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 22;
  border-bottom: 1px solid #D6D6D6;
}
.related-product-header img {
  width: 15px;
}
.carousel-bottom {
  display: flex;
  height: 100px;
  position: relative;
}
.carousel-indicators {
  bottom: 50;
}
.container-btn-next-prev {
  position: absolute;
  right: 10;
  bottom: 50;
}
.content-time {
  font-size: 13px;
}
.content-time img {
  width: 17px;
}
.tab {
  margin-bottom: 10px;
}
.tab-img {
  width: 40%;
  height: auto;
}
.tab-img img {
  width: 100%;
  max-height: 80px;
}
.tab-content {
  width: 60%;
  padding-left: 10px;
}
.tab-content .content-time {
  padding: 0;
}
.tab-content .tab-text {
  font-size: 14px;
  font-family: "Garamond Premier Pro";
}
.tab-title {
  font-size: 28px;
  padding: 10px 0;
  font-family: "Garamond Premier Pro";
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}
h1.single-detail{
  font-family:" Garamond Premier Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;

  color: #1D4116;
}
.carousel-item .card-body{
  padding: 0;
}
p.bold {
  font-size: 15px;
  margin-top: 20px;
}
p.bold {
  font-size: 15px;
  margin-top: 20px;
}

.content-single p {
  line-height: 24px;
}

.d-flex.tab {
  margin-bottom: 20px;
}
.content-single p {
  line-height: 24px;
}
/* /relate/ */
.related-news {
  margin-top: 70;
}
/* responsive */

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 220px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .blog {
    display: flex;
    flex-direction: column;
  }
  .blog .col-9 {
    width: 100%;
    max-width: none;
    flex: 0 0 100%;
  }
  .blog .col-3 {
    width: 100%;
    max-width: none;
    flex: 0 0 100%;
  }
  .tab-img {
    height: 40%;
  }
  .tab-img img {
    max-height: 130px !important;
  }
  .container-btn-next-prev {
    display: none;
  }
  .carousel-inner .col-4 {
    width: 100%;
    max-width: none;
    flex: 0 0 100%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .blog {
    display: flex;
    flex-direction: column;
  }
  .blog .col-9 {
    width: 100%;
    max-width: none;
  }
  .blog .col-3 {
    width: 100%;
    max-width: none;
  }
  .tab-img {
    height: 40%;
  }
  .tab-img img {
    max-height: 130px !important;
  }
  .container-btn-next-prev {
    display: none;
  }
  .carousel-inner .col-4 {
    width: 100%;
    max-width: none;
    flex: 0 0 100%;
  }
}
